[submodule "submodules/ts-commonutil"]
	path = submodules/ts-commonutil
	url = https://github.com/jokester/ts-commonutil
[submodule "submodules/momocraft-frontend"]
	path = submodules/momocraft-frontend
	url = git@github.com:jokester/momocraft-frontend.git
